{% extends "layout.html" %}
{% block title %}
Blank Financial Assistance Application
{% endblock %}
{% block bodycontent %}
<h1>Blank Texas Health Financial Assistance Application</h1>
<iframe src="static/Website Charity Application English.pdf"  width="100%" height="450px">
</iframe>
<p>Using a Texas Health Facility not covered by this application? Try one of these!</p>
<form>
    <button class="btn" type="submit" formaction="/blankapplicationTHP">Texas Health Partners</button>
    <button class="btn" type="submit" formaction="/blankapplicationUSMDA">USMD Arlington</button>
</form>
<p>Want to fill out the form digitally? Click here!</p>
<form>
    <button class="btn" type="submit" formaction="/completeapplication">Fill Out Application Digitally</button>
</form>
{% endblock %}