head {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

ul.topnav {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(35, 65, 94);
    position: fixed;
    top: 0;
    width: 100%;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 31px;
}

ul.topnav li .logo img {
    height: 31px;
} 

ul.topnav li a:hover {
    background-color: rgb(46, 104, 153);
    color: white;
}

ul.topnav li.menu {
    display: none;
    font-size: 31px;
}

@media screen and (max-width: 1400px) {
    ul.topnav li:not(:first-child){
        display: none;
    }
    ul.topnav li.menu {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 1400px) {
    ul.topnav.responsive {
        position: fixed;
    }
    ul.topnav.responsive li.menu {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}

.bodycontent {
    margin-top: 90px;
    margin-left: 60px;
    margin-right: 60px;
}

/*TODO: styling for forms*/
input {
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 5px solid rgb(60, 141, 24);
}

input:focus {
    border-bottom: 5px solid rgb(155, 46, 43);
}

input[type=submit] {
    border: none;
    background-color: rgb(60, 141, 24);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    color: white;
}

input[type=submit]:hover {
    background-color: rgb(76, 179, 30);
}

select {
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 5px solid rgb(60, 141, 24);
}

select:focus {
    border-bottom: 5px solid rgb(155, 46, 43);
}

/*TODO: styling for buttons*/
.btn {
    border: none;
    background-color: rgb(60, 141, 24);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    color: white;
}

.btn:hover {
    background-color: rgb(76, 179, 30);
}