{% extends "layout.html" %}
{% block title %}
Digital Application Form
{% endblock %}
{% block bodycontent %}
<h1>Fill Out Financial Assistance Application Digitally</h1>
<p>Feel free to leave any inputs blank, for example to withhold private information; however, be certain to completely fill out any blank entries by hand before turning in the application.</p>
<form action="/completedapplication" method="POST">
    <p>Patient First Name: <input type="text" name="first_name"/></p>
    <p>Patient Last Name: <input type="text" name="last_name"/></p>
    <p>Patient Middle Initial: <input type="text" name="MI"/></p>
    <p>Date: <input type="date" name="curr_date"/></p>
    <p>Date of Service: <input type="date" name="DOS"/></p>
    <p>Guarantor Name: <input type="text" name="guarantor_name"/></p>
    <label for="facility">Facility: </label>
    <select name="facility">
        <option value="Texas Health Allen">Texas Health Allen</option>
        <option value="Texas Health Alliance">Texas Health Alliance</option>
        <option value="Texas Health Arlington Memorial">Texas Health Arlington Memorial</option>
        <option value="Texas Health Azle">Texas Health Azle</option>
        <option value="Texas Health Burleson">Texas Health Burleson</option>
        <option value="Texas Health Cleburne">Texas Health Cleburne</option>
        <option value="Texas Health Dallas">Texas Health Dallas</option>
        <option value="Texas Health Denton">Texas Health Denton</option>
        <option value="Texas Health Fort Worth">Texas Health Fort Worth</option>
        <option value="Texas Health Frisco">Texas Health Frisco</option>
        <option value="Texas Health HEB">Texas Health HEB</option>
        <option value="Texas Health Heart & Vascular Hospital Arlington">Texas Health Heart & Vascular</option>
        <option value="Texas Health Kaufman">Texas Health Kaufman</option>
        <option value="Texas Health Plano">Texas Health Plano</option>
        <option value="Texas Health Prosper">Texas Health Prosper</option>
        <option value="Texas Health Recovery & Wellness Center">Texas Health Recovery & Wellness Center</option>
        <option value="Texas Health Southwest Fort Worth">Texas Health Southwest Fort Worth</option>
        <option value="Texas Health Specialty Hospital">Texas Health Specialty</option>
        <option value="Texas Health Springwood">Texas Health Springwood</option>
        <option value="Texas Health Stephenville">Texas Health Stephenville</option>
        <option value="Texas Health Urgent Care">Texas Health Urgent Care</option>
        <option value="Texas Health Center for Diagnostics & Surgery Plano">Texas Health Center for Diagnostics & Surgery Plano</option>
        <option value="Texas Health Presbyterian Hospital Rockwall">Texas Health Presbyterian Hospital Rockwall</option>
        <option value="Texas Health Harris Methodist Southlake">Texas Heath Harris Methodist Hospital Southlake</option>
        <option value="Texas Institute for Surgery at Texas Health Presbyterian Dallas">Texas Institute for Surgery at Texas Health Presbyterian Dallas</option>
        <option value="Texas Health Presbyterian Hospital Flower Mound">Texas Health Presbyterian Hospital Flower Mound</option>
        <option value="USMD Hospital at Arlington">USMD Hospital at Arlington</option>
    </select>
    <p></p>
    <p>Hospital Account #: <input type="text" name="hospital_acct"/></p>
    <p>Medical Record #: <input type="text" name="medical_rcrd"/></p>
    <p>Social Security #: <input type="text" name="social_security"/></p>
    <p>Date of Birth: <input type="date" name="DOB"/></p>
    <label for="marital_status">Marital Status: </label>
    <select name="marital_status">
        <option value="Married">Married</option>
        <option value="Single">Single</option>
        <option value="Divorced">Divorced</option>
        <option value="Widowed">Widowed</option>
        <option value="Separated">Separated</option>
    </select>
    <p></p>
    <label for="minors">Do you have minor children (under 18)? </label>
    <select name="minors">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <p></p>
    <label for="living_with">Do they live with you? </label>
    <select name="living_with">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <p></p>
    <label for="legal_minor">Are they your birth/legally adopted children? </label>
    <select name="legal_minor">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <p></p>
    <label for="patient_employed">Patient Employed? </label>
    <select name="patient_employed">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <p></p>
    <label for="spouse_employed">Spouse Employed?  </label>
    <select name="spouse_employed">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <p></p>
    <label for="med_insurance">Do you have medical insurance? </label>
    <select name="med_insurance">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <p></p>
    <label for="disability">Are you on disability? </label>
    <select name="disability">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <p></p>
    <p>If so, how long? <input type="text" name="disability_length"/></p>
    <label for="veteran">Are you a veteran? </label>
    <select name="veteran">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <p></p>
    <h2>FAMILY MEMBERS (Living in Home):</h2>
    <h3>If applicable:</h3>
    <p>Spouse Name: <input type="text" name="spouse_name"/></p>
    <p>Child Name: <input type="text" name="child1_name"/></p>
    <p>Child Age: <input type="number" name="child1_age"/></p>
    <p>Child Name: <input type="text" name="child2_name"/></p>
    <p>Child Age: <input type="number" name="child2_age"/></p>
    <p>Child Name: <input type="text" name="child3_name"/></p>
    <p>Child Age: <input type="number" name="child3_age"/></p>
    <p>Child Name: <input type="text" name="child4_name"/></p>
    <p>Child Age: <input type="number" name="child4_age"/></p>
    <h2>INCOME (Monthly Amount):</h2>
    <h4>Patient:</h4>
    <p>Gross: $<input type="number" value="0" name="patient_gross"/></p>
    <p>Net: $<input type="number" value="0" name="patient_net"/></p>
    <h4>Spouse:</h4>
    <p>Gross: $<input type="number" value="0" name="spouse_gross"/></p>
    <p>Net: $<input type="number" value="0" name="spouse_net"/></p>
    <h4>Dependants:</h4>
    <p>Gross: $<input type="number" value="0" name="dependants_gross"/></p>
    <p>Net: $<input type="number" value="0" name="dependants_net"/></p>
    <h4>Public Assistance:</h4>
    <p>Gross: $<input type="number" value="0" name="pub_asst_gross"/></p>
    <p>Net: $<input type="number" value="0" name="pub_asst_net"/></p>
    <h4>Food Stamps:</h4>
    <p>Gross: $<input type="number" value="0" name="food_stamps_gross"/></p>
    <p>Net: $<input type="number" value="0" name="food_stamps_net"/></p>
    <h4>Social Security:</h4>
    <p>Gross: $<input type="number" value="0" name="soc_serc_gross"/></p>
    <p>Net: $<input type="number" value="0" name="soc_serc_net"/></p>
    <h4>Unemployment:</h4>
    <p>Gross: $<input type="number" value="0" name="unemp_gross"/></p>
    <p>Net: $<input type="number" value="0" name="unemp_net"/></p>
    <h4>Strike Benefits:</h4>
    <p>Gross: $<input type="number" value="0" name="strk_ben_gross"/></p>
    <p>Net: $<input type="number" value="0" name="strk_ben_net"/></p>
    <h4>Worker's Compensation:</h4>
    <p>Gross: $<input type="number" value="0" name="work_comp_gross"/></p>
    <p>Net: $<input type="number" value="0" name="work_comp_net"/></p>
    <h4>Alimony:</h4>
    <p>Gross: $<input type="number" value="0" name="alim_gross"/></p>
    <p>Net: $<input type="number" value="0" name="alim_net"/></p>
    <h4>Child Support:</h4>
    <p>Gross: $<input type="number" value="0" name="chld_sup_gross"/></p>
    <p>Net: $<input type="number" value="0" name="chld_sup_net"/></p>
    <h4>Military Allotments:</h4>
    <p>Gross: $<input type="number" value="0" name="mil_all_gross"/></p>
    <p>Net: $<input type="number" value="0" name="mil_all_net"/></p>
    <h4>Pensions:</h4>
    <p>Gross: $<input type="number" value="0" name="pen_gross"/></p>
    <p>Net: $<input type="number" value="0" name="pen_net"/></p>
    <h4>Income from: CD'S, Rent, Dividens, Interest:</h4>
    <p>Gross: $<input type="number" value="0" name="inc_gross"/></p>
    <p>Net: $<input type="number" value="0" name="inc_net"/></p>
    <h2>EXPENSES (Monthly Amount):</h2>
    <p>Mortgage/Rent: $<input type="number" value="0" name="rent"/></p>
    <p>Utilities: $<input type="number" value="0" name="utilities"/></p>
    <p>Car Payments: $<input type="number" value="0" name="car"/></p>
    <p>Food/Groceries: $<input type="number" value="0" name="groceries"/></p>
    <p>Credit Cards: $<input type="number" value="0" name="credit"/></p>
    <p>Other (Description): <input type="text" name="other_descr"/></p>
    <p>Other (Amount): $<input type="number" value="0" name="other"/></p>
    <h2>ASSETS</h2>
    <p>Checking Account: $<input type="number" value="0" name="checking"/></p>
    <p>Savings Account: $<input type="number" value="0" name="saving"/></p>
    <p>CD's, IRA's: $<input type="number" value="0" name="CDs_IRAs"/></p>
    <p>Other Ivestments (Stocks, bonds, etc.): $<input type="number" value="0" name="other_invst"/></p>
    <p>Properties/Land other than primary residence: $<input type="number" value="0" name="properties"/></p>
    <h2>EMPLOYER</h2>
    <p>If applicable</p>
    <p>Name: <input type="text" name="employer_name"/></p>
    <p>Telephone #: <input type="text" name="employer_phone"/></p>
    <p>Address: <input type="text" name="employer_address"/></p>
    <p>Your Occupation: <input type="text" name="occupation"/></p>
    <h2>SPOUSE'S EMPLOYER</h2>
    <p>If applicable</p>
    <p>Name: <input type="text" name="spouse_employer_name"/></p>
    <p>Telephone #: <input type="text" name="spouse_employer_phone"/></p>
    <p>Address: <input type="text" name="spouse_employer_address"/></p>
    <p>Spouse's Occupation: <input type="text" name="spouse_occupation"/></p>
    <label for="medicaid">Are you currently applying for Medicaid Benefits? </label>
    <select name="medicaid">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <p></p>
    <label for="county">Have you applied for assistance through your county hospital/indigent program </label>
    <select name="county">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <p></p>
    <label for="donate">Is your physician donating his/her services? </label>
    <select name="donate">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <p></p>
    <label for="liability">Are there any potentially liable third-parties responsible for your accident/injury/illness? </label>
    <select name="liability">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <p></p>
    <label for="assist">Is anyone assisting you with payment of your hospital bills? </label>
    <select name="assist">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <p></p>
    <p>If so, who is assisting you? <input type="text" name="assist_identity"/></p>
    <p>If so, how much assistance are you receiving: <input type="text" name="assist_amnt"/></p>
    <p>List any other information you feel would be helpful to us in determining your eligibility for assistance in paying your hospital bill: <input type="text" name="other_info"/></p>
    <p>Expected earnings and/or funds you will receive during your time off due to your illness (Sick leave, paid time off, short/long term disability income): $<input type="number" value="0" name="lost_earnings"/></p>
    <p>Expected length of time you will be unable to work and/or earn wages: <input type="text" name="lost_time"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>
{% endblock bodycontent %}