{% extends "layout.html" %}
{% block title %}
Next Steps
{% endblock %}
{% block bodycontent %}
<h1>Next Steps</h1>
<img src="static/EVRIHEALTH_logoalt.png" alt="EVRIHEALTH">
<p>Now that you have your application downloaded, you can read more about Texas Health's financial assistance policy or get an estimate of the cost of medical treatment.</p>
<form>
    <button class="btn" type="submit" formaction="/charitycare">Learn More About Charity Care</button>
    <button class="btn" type="submit" formaction="/locationsearch">Get a Cost Estimate</button>
</form>
{% endblock bodycontent %}