{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block bodycontent %}
<h1>EVRIHEALTH</h1>
<img src="static/EVRIHEALTH_logoalt.png" alt="EVRIHEALTH">
<h2>Because everyone deserves access to healthcare.</h2>
<h4>Over 80 million Americans report delaying medical treatment every year due to the cost of healthcare.</h4>
<h3>It doesn't have to be this way!</h3>
<p>Under Texas law, all non-profit hospitals are required to offer free or discounted medical treatment through charity care programs to individuals who can't afford to pay the cost.</p>
<p>Using this free online tool, you can check to see if you are eligible to receive charity care from within the Texas Health hsopital system and fill out the application digitally, or get an estimate on the cost of your medical care.</p>
<form>
    <button class="btn" type="submit" formaction="/financiallytest">See if You Quality</button>
    <button class="btn" type="submit" formaction="/charitycare">Learn More</button>
</form>
{% endblock bodycontent %}